div.container-fluid {
    margin-top: 10px;
}

/*-----------------------------------------------------*/

nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav > ul > li {
    float: left;
}

nav > ul > li > a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: all 1s;
}

nav > ul > li > a:hover:not(.active) {
    background-color: #111;
    color: white;
    text-decoration: none;
}

a.active {
    color: white;
    background-color: #4CAF50;
    text-decoration: none;
}

/*-----------------------------------------------------*/

div.box {
    color: #ffffff;
    margin: 0 auto;
    width: 500px;
    background: #222222;
    position: relative;
    top: 50px;
    padding: 10px;
}

div.box h1 {
    color: #ffffff;
    font-size: 18px;
    text-transform: uppercase;
    padding: 5px 0 5px 5px;
    border-bottom: 5px solid #161712;
}

div > p {
    text-align: justify;
    clear: both;
}

div.sekretariat > div > div > ul > li {
    list-style-type: none;
    padding: 0.5px;
    font-family: 'Palatino Linotype';
}

div.sekretariat > p {
    margin-top: 10px;
    font-family: 'Copperplate Gothic Light';
    font-weight: bolder;
    text-decoration: underline;
}

div.img-thumbnail > p {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.myButton {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 30px;
    z-index: 99;
    font-size: 24px;
    font-weight: 700px;
    border: none;
    outline: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 100%;
    transition: all 1s;
}

.myButton:hover {
    background-color: #333;
}

footer.relative {
    position: relative;
    bottom: 0px;
    width: 100%;
    margin: 0 auto;
    background: #333;
    color: white;
    padding: 5px;
    text-align: right;
    font-size: 10px;
}

footer.absolute {
    position: absolute;
    bottom: 0px;
    width: 100%;
    margin: 0 auto;
    background: #333;
    color: white;
    padding: 5px;
    text-align: right;
    font-size: 12px;
}

/*-----------------------------------------------------*/

div.menu_quiz{
    display: block;
    position: relative;
    top: 30vh;
    left: 25vw;
    width: 50%;
    height: auto;
}

div.menu_quiz p {
    text-align: center;
    padding: 20px;
    font-family: "Copperplate Gothic Light";
    font-size: 3em;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
}

.buttons_menu {
    margin-top: 10px;
    text-align: center;
}

div.quiz {
    display: none;
    position: relative;
    top: 25vh;
    left: 25vw;
    width: 50%;
    height: auto;
}

div.quiz h4.question {
    text-align: center;
    padding: 20px;
}

.buttons {
    margin-top: 10px;
}

div.quiz .list-group-item {
    cursor: pointer;
}

.correct {
    background-color: #289a27;
}

.incorrect {
    background-color: #c41a21;
}

div.quiz div.div_score {
    position: absolute;
    left: 18vw;
}

div.results {
    position: relative;
    top: 25vh;
    left: 25vw;
    width: 50%;
    height: auto;
}

div.results div.btn-group-custom {
    margin-bottom: 10px;
}

/*-----------------------------------------------------*/
