ul li {
    display: inline;
    white-space: nowrap;
    margin: 30px;
}

ul {
    text-align: center;
    background: black;
    color: white;
}

div.formulage {
    width: 40%;
    background-color: gold;
    float: left;
    padding: 1%;
    overflow: hidden;
    border-radius: 4.5%;
}

div.content{
    width: 75%;
    float: left;
    padding: 1%;
    overflow: hidden;
}

div.content p {
    text-align: justify;
    clear: both;
}

img#photo {
    width: 25%;
    height: 25%;
    float: right;
}

ul li a {
    background-color: rebeccapurple;
    color: chartreuse;
    transition: all 1s;
}

ul li a:hover {
    background-color: chartreuse;
    color: rebeccapurple;
}



