nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: all 1s;
}

nav li a:hover:not(.active) {
    background-color: #111;
    color: white;
    text-decoration: none;
}

a.active {
    color: white;
    background-color: #4CAF50;
    text-decoration: none;
}

div.formulage {
    position: relative;
    left: 30%;
    top: 50px;
    width: 40%;
    background-color: #333;
    color: #ffffff;
    float: left;
    padding: 1%;
    overflow: hidden;
    border-radius: 4.5%;
}

div.content {
    width: 75%;
    float: left;
    padding: 1%;
    overflow: hidden;
}

div > p {
    text-align: justify;
    clear: both;
}

div.sekretariat > ul > li {
    list-style-type: none;
    padding: 2px;
}

iframe {
    margin: 5px 0 5px 0;
}