div.container-fluid {
    margin-top: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: all 1s;
}

nav li a:hover:not(.active) {
    background-color: #111;
    color: white;
    text-decoration: none;
}

a.active {
    color: white;
    background-color: #4CAF50;
    text-decoration: none;
}

div.box {
    color: #ffffff;
    margin: 0 auto;
    width: 500px;
    background: #222222;
    position: relative;
    top: 50px;
    padding: 10px;
}

div.box h1 {
    color: #ffffff;
    font-size: 18px;
    text-transform: uppercase;
    padding: 5px 0 5px 5px;
    border-bottom: 5px solid #161712;
}

div > p {
    text-align: justify;
    clear: both;
}

div.sekretariat > div > div > ul > li {
    list-style-type: none;
    padding: 0.5px;
    font-family: 'Palatino Linotype';
}

div.sekretariat > p {
    margin-top: 10px;
    font-family: 'Copperplate Gothic Light';
    font-weight: bolder;
    text-decoration: underline;
}

div.img-thumbnail > p {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.myButton
{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 24px;
    font-weight: 700;
    border: none;
    outline: none;
    background-color: #333;
    color: white;
    cursor: pointer;
    padding: 5px;
    border-radius: 20px;
    transition: all 1s;
}

.myButton:hover
{
    background-color: #4CAF50;
}
